<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body>
	<div class="container grid grid-cols-2">
		<div id="search">
			<input id="input-isbn" type="isbn" name="isbn" placeholder="978-8864201870" hx-trigger="keyup[keyCode==13]"
				hx-get="/search" hx-target="#searched-books">
			<button type="submit" hx-get="/search" hx-target="#searched-books" hx-include="#input-isbn">Cerca</button>
			<div id="searched-books">
			</div>
		</div>

		<div id="library" class="overflow-y-scroll max-h-screen" hx-trigger="load" hx-get="/library"
			hx-swap="innerHTML">
		</div>
	</div>
</body>

</html>
